<a href="https://colab.research.google.com/github/carascott/1stproject/blob/main/DS2002Quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
connection = sqlite3.connect('ice_cream_shop.db')
print("Database created and connected!")

Database created and connected!

In [2]:
cursor = connection.cursor()
print("Cursor created!")

Cursor created!

In [5]:
cursor.execute(''' CREATE TABLE Products (
ProductID INTEGER PRIMARY KEY AUTOINCREMENT,
Name VARCHAR(100) NOT NULL,
Description TEXT,
Price DECIMAL(5, 2) NOT NULL,
Stock INT NOT NULL,
Category VARCHAR(50) NOT NULL
)
''')
print("Products table created!")

cursor.execute(''' CREATE TABLE Customers (
CustomerID INTEGER PRIMARY KEY AUTOINCREMENT,
FirstName VARCHAR(50) NOT NULL,
LastName VARCHAR(50) NOT NULL,
Email VARCHAR(100),
Phone VARCHAR(20),
Address VARCHAR(255),
City VARCHAR(100),
PostalCode VARCHAR(10),
Country VARCHAR(50) NOT NULL
)
''')
print("Customers table created!")

cursor.execute(''' CREATE TABLE Orders (
OrderID INTEGER PRIMARY KEY AUTOINCREMENT,
CustomerID INT,
OrderDate DATETIME DEFAULT CURRENT_TIMESTAMP,
TotalAmount DECIMAL(7, 2) NOT NULL,
Status VARCHAR(20) NOT NULL DEFAULT 'Pending',
FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
)
''')
print("Orders table created!")

cursor.execute(''' CREATE TABLE OrderDetails (
OrderDetailID INTEGER PRIMARY KEY AUTOINCREMENT,
OrderID INT,
ProductID INT,
Quantity INT NOT NULL,
Price DECIMAL(5, 2) NOT NULL,
FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
)
''')
print("Order Details table created!")

cursor.execute(''' CREATE TABLE Inventory (
InventoryID INTEGER PRIMARY KEY AUTOINCREMENT,
ProductID INT,
QuantityInStock INT NOT NULL,
LastRestockDate DATE,
FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
)
''')
print("Inventory table created!")

Products table created!
Customers table created!
Orders table created!
Order Details table created!
Inventory table created!

In [6]:
cursor.execute('''
SELECT ProductID, Name, Description, Price, Stock, Category
FROM Products
WHERE Stock > 0;
''')

stock = cursor.fetchall()

print("Products currently in stock:")
print("")
for product in stock:
    print(product)

Products currently in stock:

In [8]:
cursor.execute('''
SELECT CustomerID, FirstName, LastName, Email, Phone, Address, City, PostalCode, Country
FROM Customers
WHERE City = 'New York';
''')

nycustomer = cursor.fetchall()

print("Customers living in New York City:")
print("")
for customer in nycustomer:
    print(customer)

Customers living in New York City:

In [10]:
cursor.execute('''
SELECT
    Customers.FirstName || ' ' || Customers.LastName AS CustomerName,
    Products.Name AS ProductName,
    OrderDetails.Quantity
FROM
    OrderDetails
JOIN
    Orders ON OrderDetails.OrderID = Orders.OrderID
JOIN
    Customers ON Orders.CustomerID = Customers.CustomerID
JOIN
    Products ON OrderDetails.ProductID = Products.ProductID
''')

details = cursor.fetchall()

print("Order Details:")
print("")
for detail in details:
    print(f"Customer: {detail[0]}, Product: {detail[1]}, Quantity Ordered: {detail[2]}")

Order Details: